input {
  display: block;
}

label {
  display: block;
  margin-top: 0.5rem;
}

.color-amarillo {
  color: #f5973d;
}

.color-blanco {
  color: white;
}

body {
  padding-left: 1rem;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

button {
  margin-top: 0.5rem;

  cursor: pointer;
  border-style: none;
  border-radius: 6%;
  color: red;
}

#oculto {
  display: none;
}
