label {
  display: block;
  margin-top: 0.5rem;
  font-weight: bold;
}

.boton-calcular {
  margin-top: 2rem;
}

.oculto {
  display: none;
}

.color-amarillo {
  color: #f5973d;
}

.color-blanco {
  color: white;
}

body {
  padding-left: 1rem;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  border-style: none;
  border-radius: 5%;
  background-color: white;
  font-style: bold;
  color: green;
  height: 1.5rem;
}
